<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Listing Feedbacks</h2></div>
    <div class="panel-body">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th class="center">Reference number</th>
          <th class="center">Survey ID</th>
          <th class="center">Survey Name</th>
          <th class="center">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @feedbacks.each do |feedback| %>
          <tr>
            <td class="center"><%= feedback.reference_number %></td>
            <td class="center"><%= feedback.survey_id %></td>
            <td class="center"><%= Survey.find(feedback.survey_id).name %></td>
            <td class="center"><%= link_to 'Show Details', feedback %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>
<%= link_to 'Back to Surveys List', surveys_path %>
