<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Listing Feedbacks</h2></div>
    <div class="panel-body">
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>Reference number</th>
          <th>Survey</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @feedbacks.each do |feedback| %>
          <tr>
            <td><%= feedback.reference_number %></td>
            <td><%= feedback.survey_id %></td>
            <td><%= link_to 'Show Details', feedback %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>
</div>
<%= link_to 'New Feedback', new_feedback_path %> |
<%= link_to 'Back to Surveys List', surveys_path %>
