<div class="col-md-offset-2 col-md-8 col-md-offset-2"%>
  <div class="panel panel-default">
    <div class="panel-body">
    <h1>New Feedback</h1>

    <%= form_for(@feedback) do |f| %>
      <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
        <ul>
        <% @feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :reference_number %><br>
      <%= f.text_field :reference_number %>
    </div>
    <%= f.hidden_field :survey_id, value:@survey.id %>
    <% for question in @questions %>
    	<%= f.fields_for :answers do |answer| %>
      <%@anyoptions = 0%>
    	<div class="answer_fields">
      <%= answer.hidden_field :survey_id, value:@survey.id %>
      <%= answer.hidden_field :question_id, value:question.id %>
  		<div class="field">
    			<%= question.title %>
          <p>
             <% question.question_options.each do |option| %>
             <p><%= option.option %> 
             <%@anyoptions = 1 %>
             <%= answer.radio_button :content, option.id %></p>
          <% end %>
          <p>

          <% if question.q_type == 'text'|| @anyoptions == 0%>
    			   <%= answer.text_field :content %>
          <%end%>
   	 	</div>
    	</div>
      <%end%>
    <%end%>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
    </div>
    <%= link_to 'Back', feedbacks_path %>
</div>
