<div class="col-md-offset-2 col-md-8 col-md-offset-2"%>
  <div class="panel panel-default">
  <div class="panel-heading"><h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span><br>New Feedback</h2></div>
    <div class="panel-body">

    <%= form_for(@feedback) do |f| %>
      <% if @feedback.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>
        <ul>
        <% @feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field">
      <%= f.label :reference_number %><br>
      <%= f.text_field :reference_number %>
    </div>
    <%= f.hidden_field :survey_id, value:@survey.id %>
    <% number = 0%>
    <% for question in @questions %>
      <% number += 1 %>
    	<%= f.fields_for :answers do |answer| %>
    	<div class="answer_fields">
      <%= answer.hidden_field :survey_id, value:@survey.id %>
      <%= answer.hidden_field :question_id, value:question.id %>
  		<div class="field">
          <% if question.q_type == '1' 
              type = "Single Answer Multiple Choices" 
             elsif question.q_type == '2'
              type = "Multiple Answers Multiple Choices"
             elsif question.q_type == '3'
              type = "Text"
             end %>
    			<b> <%= "#{number.to_s}. #{question.title} (#{type})" %> </b>
          <% option_number = 0 %>
          <% if question.q_type == '1' %>
          <p>
             <% question.question_options.each do |option| %>
             <% option_number += 1%>
             <p><%= "#{option_number.to_s}) #{option.option}" %> 
             <%= answer.radio_button :content, option.id %></p>
          <% end %>
          <p>
          <% end %>

          <% if question.q_type == '2'%>
          <p>
             <% question.question_options.each do |option| %>
             <p>
             <%= option.option%>
             <%= check_box_tag 'chosen_ops[]',option.id%>
             </p>
             <%end%>

          </p>
          <%end%>

          <% if question.q_type == '3'%>
    			   <%= answer.text_field :content %>
          <%end%>
   	 	</div>
    	</div>
      <%end%>
    <%end%>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
  </div>
    </div>
    <%if user_signed_in? %>
      <%= link_to 'Back to Survey List', surveys_path %>
    <%end%>
    <%if user_is_admin? %>
      | <%= link_to 'Back to All Feedbacks', feedbacks_path %>
    <%end%>
</div>
