<p id="notice"><%= notice %></p>

<p>
  <strong>Reference number:</strong>
  <%= @feedback.reference_number %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @feedback.survey %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
