<div class="col-md-offset-2 col-md-8 col-md-offset-2"%>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading"><h2>Feedback Submitted</h2></div>
    <div class="panel-body">
		<p>
		  <strong>Client Reference Number:</strong>
		  <%= @feedback.reference_number %>
		</p>

    <p>
      <strong>Survey:</strong>
      <%= @feedback.survey_id %>
    </p>

    <p>
    	<strong>Feedback_ID:</strong>
    	<%= @feedback.id %>
    </p>

    <% @survey.questions.each do |question| %>
      <p>
        <strong>Question</strong>
        <%= question.title %>
        <% @answers.each do |answer| %>
        <% if answer.question_id == question.id %>
        	<strong>Answer</strong>
        	<% if question.q_type == 'choice' %>
        		<% question.question_options.each do |option| %>   			
    	   			<% if option.id == answer.content.to_i %>
        	       		<%= option.option %>
        	    	<%end%>
        		<%end%>
        		<% elsif question.q_type == 'text'%>
        			<%= answer.content %>
        	<%end%>
        <% end %>
        <% end %>

        </p>
     <% end -%>
  </div>
  </div>
<%= link_to 'Back to All Feedbacks', feedbacks_path %> |
<%= link_to 'Back to Surveys List', surveys_path %>
</div>
