<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2><span class="glyphicon glyphicon-user" aria-hidden="true"></span><br>Listing Users</h2></div>
    <div class="panel-body">
    <!-- Table -->
    <table class="table" style="text-align:center">
      <thead>
        <tr>
          <th class="center">Email</th>
          <th class="center">Administrator?</th>
          <th class="center" colspan="2">Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="center"><%= user.email %></td>
            <td class="center"><%= user.is_admin %></td>
            <% unless user.is_admin %>
            <td class="center"><%= link_to 'Edit', edit_user_path(user) %></td>
            <td class="center"><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <%else%>
            <td class="center" colspan="2">Cannot modify an Administrator's account.</td>
            <%end%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= link_to 'Create New Advisor', new_user_path %>
