<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @question_by_language.language %>
</p>

<p>
  <strong>Title:</strong>
  <%= @question_by_language.title %>
</p>

<p>
  <strong>Options:</strong>
  <%= @question_by_language.options %>
</p>

<p>
  <strong>Created at:</strong>
  <%= @question_by_language.created_at %>
</p>

<p>
  <strong>Updated at:</strong>
  <%= @question_by_language.updated_at %>
</p>

<p>
  <strong>Question:</strong>
  <%= @question_by_language.question %>
</p>

<%= link_to 'Edit', edit_question_by_language_path(@question_by_language) %> |
<%= link_to 'Back', question_by_languages_path %>
