<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :reference_number %><br>
    <%= f.text_field :reference_number %>
  </div>
  <div class="field">
    <%= f.label :version %><br>
    <%= f.number_field :version %>
  </div>
  <div class="field">
    <%= f.label :enable_flg %><br>
    <%= f.number_field :enable_flg %>
  </div>
  <div class="field">
    <%= f.label :provider_name %><br>
    <%= f.text_field :provider_name %>
  </div>
  <div class="field">
    <%= f.label :language_avaliable %><br>
    <%= f.text_field :language_avaliable %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
