<div class="fields" id="survey_field_id">
<%= f.select :q_type,[['one answer multiple choice', 1], ['multiple answer multiple choice', 2], ['text', 3]] , {},
                :onChange=>"change_q_type(this)" %>
    <div class="one_choice">
      <%= f.label :title, "Question" %><br />
      <%= f.text_area :title, :rows => 3 %><br />
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields "remove", f %>
      <%= f.fields_for :question_options do |builder| %>
          <%= render 'question_option_fields', :f => builder %>
      <% end %>
      <p><%= link_to_add_fields "Add option", f, :question_options %></p>
    </div>
    <div class="multiple_choice" style="display: none">
        <%= f.label :title, "Question"%><br />
      <%= f.text_area :title, :rows => 3 %><br />
      <%= f.hidden_field :_destroy %>
      <%= link_to_remove_fields "remove", f %>
      <%= f.fields_for :question_options do |builder| %>
          <%= render 'question_option_fields', :f => builder, :flg => 'true'%>
      <% end %>
      <p><%= link_to_add_fields "Add option", f, :question_options %></p>
    </div>
    <div class="text_answer" style="display: none">
      <%= f.label :title, "Question" %><br />
      <%= f.text_area :title, :rows => 3 %><br />
    </div>
</div>
