<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"><h2>Listing Surveys</h2></div>
    <div class="panel-body">
    <!-- Table -->
    <table class="table" style="text-align:center">
      <thead>
        <tr>
          <th class="center">Name</th>
          <th class="center">Version</th>
          <!--th class="center">Enabled?</th-->
          <th class="center">Provider</th>
          <th class="center">Language</th>
          <% if user_is_admin? %>
            <th colspan="7" class="center">Actions</th>
          <%else%>
            <th class="center">Actions</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <% @surveys.each do |survey| %>
          <tr>
            <td><%= link_to survey.name, survey%></td>
            <td><%= survey.version %></td>
            <!--td>
              <%if survey.enable_flg == 0 %>
                No
              <%else%>
                Yes
              <%end%>
            </td-->
            <td><%= survey.provider_name %></td>
            <td><%= survey.language_avaliable %></td>
            <td><%= link_to 'Generate Url', generate_url_survey_path(:id =>survey[:id]) %> </td>
            <td><%= link_to 'New Feedback', new_feedback_path(:survey =>survey) %> </td>
            <% if user_is_admin? %>
                <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
                <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                <td><%= link_to 'Get Excel Report',excel_survey_path(survey, :format => 'xls') %></td>
                <td><%= link_to 'Get PDF Report', pdf_survey_path(survey, :format => 'pdf')%></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<% if user_is_admin? %>
<%= link_to 'Go to All Feedbacks', feedbacks_path %>
   | <%= link_to 'New Survey', new_survey_path %>
<% end %>
